<nav class="navbar navbar-expand-lg navbar-light justify-content-right">
  <ul class="navbar-nav">
    <li class="nav-item">

      <a class="navbar-brand" href="#" id="movie-style">
        <h2> <i class="material-icons" id="navbar-logo">local_hospital</i> MEDICARE </h2>
      </a>
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li><button  class="btn btn-info" (click)="home()"><i class="material-icons">home</i> Home </button></li>
      <li>&nbsp;&nbsp;</li>
      <li><button class="btn btn-info" (click)="doctor()"><i class="material-icons">person_add</i>Doctor Details</button></li>
      <li>&nbsp;&nbsp;</li>
      <li><button class="btn btn-info" (click)="customer()"><i class="material-icons">person</i>Customer Details</button></li>
      <li>&nbsp;&nbsp;</li>
      <li><button class="btn btn-info" (click)="medicare()"><i class="material-icons">local_hospital</i>Medicare Details</button></li>
      <li>&nbsp;&nbsp;</li>
      <li><button class="btn btn-info" (click)="notification()"><i class="material-icons">notification_important</i>Appointments</button></li>
      <li>&nbsp;&nbsp;</li>
      <li><button class="btn btn-info" (click)="approve()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;<i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Approve</button></li>
      <li>&nbsp;&nbsp;</li>
      <li><button class="btn btn-info" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button></li>
      
    </ul>
  </div>
</nav>

<div *ngIf="addMedicareStatus">
  <div class="container text-center">
    <div class="jumbotron p-2 bd-highlight mx-3">
      <h5><i class="material-icons " href="#">add_alert</i> Medicare Service Details Added Successfully.</h5>
    </div>
  </div>
</div>


<div *ngIf="notificationStatus==true">

    <div *ngIf="requestListLength == true; else block">
        <div class="container text-center">
            <div class="jumbotron cart-jumbotron mt-4">
                <h5><i class="material-icons " href="#">error_outline</i> No Appointments available:( </h5>
            </div>
        </div>
      </div>
  <ng-template #block>

    <div *ngIf="acceptedStatus==true">
      <div class="container text-center">
        <div class="jumbotron p-2 bd-highlight mx-3">
          <h5><i class="material-icons " href="#">add_alert</i> Accepted Successfully.</h5>
        </div>
      </div>
    </div>
    
    <div *ngIf="rejectedStatus==true">
      <div class="container text-center">
        <div class="jumbotron cart-jumbotron mt-4">
          <h5><i class="material-icons " href="#">sentiment_very_dissatisfied</i>Rejected Successfully</h5>
        </div>
      </div>
    </div>
    <h3 id="title">APPOINTMENTS</h3>
    
    <table class="table  table-striped table-dark">
      <thead class="thead-dark">
        <tr>
          <th>Customer Name</th>
          <th>Medicare Service Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let list of requestList">
          <td>{{list.patient.username}}</td>
          <td>{{list.medicareService.medicareService}}</td>
          <button type="button" class="btn btn-success" (click)="acceptRequest(list.reqId)">Accept</button>
          <button type="button" class="btn btn-danger" (click)="rejectRequest(list.reqId)">Reject</button>
        </tr>

      </tbody>

    </table>
  </ng-template>
</div>


<div *ngIf="approveStatus == true">


    <div *ngIf="approveLength == true; else block">
        <div class="container text-center">
            <div class="jumbotron cart-jumbotron mt-4">
                <h5><i class="material-icons " href="#">error_outline</i> No List available:( </h5>
            </div>
        </div>
    </div>
    <ng-template #block>
      <h3 id="title">APPROVE DETAILS</h3>
      <div *ngIf="acceptedStatus">
          <div class="container text-center">
              <div class="jumbotron p-2 bd-highlight mx-3">
                  <h5><i class="material-icons " href="#">add_alert</i> Accepted Successfully</h5>
              </div>
          </div>
        </div>
          <div *ngIf="rejectedStatus">
              <div class="container text-center">
                  <div class="jumbotron cart-jumbotron mt-4">
                      <h5><i class="material-icons " href="#">error_outline</i> Rejected Successfully.</h5>
                  </div>
              </div>
          </div>
      
      <table class="table table-striped table-dark ">
        <thead class="thead-dark">
          <tr>
            <th>USER NAME</th>
            <th>ROLE</th>
            <th>STATUS</th>
          </tr>
        </thead>
  
        <tbody class="thead-light">
          <tr *ngFor="let list of userList ">
            <td>{{list.username}}</td>
            <td>{{list.role.name}}</td>
            <td>
            
            <button type="button" class="btn btn-success" (click)="accept(list.id)">Accept</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="reject(list.id)">Reject</button>
            
            </td>
  
          </tr>
        </tbody>
      </table>
    </ng-template>
  
  </div>

<div *ngIf="doctorStatus == true">

    <div *ngIf="doctorLength == true; else block">
        <div class="container text-center">
            <div class="jumbotron cart-jumbotron mt-4">
                <h5><i class="material-icons " href="#">error_outline</i> No Doctor List available:( </h5>
            </div>
        </div>
      </div>
  <ng-template #block>


    <h3 id="title">DOCTOR DETAILS</h3>
    <table class="table table-striped table-dark ">
      <thead class="thead-dark">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Age</th>
          <th>Speciality</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody class="thead-light">
        <tr *ngFor="let list of doctorList ">
          <td>{{list.firstName}}</td>
          <td>{{list.lastName}}</td>
          <td>{{list.emailId}}</td>
          <td>{{list.age}}</td>
          <td>{{list.speciality}}</td>
          <td>{{list.user.approve}}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>

</div>

<div *ngIf="customerStatus==true">


    <div *ngIf="customerLength == true; else block">
        <div class="container text-center">
            <div class="jumbotron cart-jumbotron mt-4">
                <h5><i class="material-icons " href="#">error_outline</i>  No Patient List available:( </h5>
            </div>
        </div>
      </div>
  <ng-template #block>
    <h3 id="title">PATIENT DETAILS</h3>
    <table class="table table-striped table-dark ">

      <thead class="thead-dark">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody class="thead-light">

        <tr *ngFor="let list of customerList ">
          <td>{{list.firstName}}</td>
          <td>{{list.lastName}}</td>
          <td>{{list.emailId}}</td>
          <td>{{list.user.approve}}</td>
        </tr>

      </tbody>
    </table>
  </ng-template>
</div>

<div *ngIf="medicareStatus==true">

  <div class="container">

    <h1 style="text-align:center;color:black;">
      MEDICARE SERVICE DETAILS
    </h1>

    <table class="table table-striped table-dark ">
      <thead class="thead-dark">
        <tr>
          <th>MEDICARE ID</th>
          <th>MEDICARE SERVICE</th>
          <th>SERVICE DESCRIPTION</th>
          <th>AMOUNT</th>
          <th>AGENT COMMISSION</th>

        </tr>
      </thead>
      <tbody class="thead-light">

        <tr *ngFor="let list of medicareList ">
          <td>{{list.id}}</td>
          <td>{{list.medicareService}}</td>
          <td>{{list.serviceDescription}}</td>
          <td>{{list.amount}}</td>
          <td>{{list.agentCommission}}</td>
        </tr>

      </tbody>
    </table>

    <h1 style="text-align:center;color:green;">
      <button type="button" class="btn btn-success" (click)="addMedicareService()">ADD MEDICARE SERVICE</button>
    </h1>
  </div>

</div>