<nav class="navbar navbar-expand-lg navbar-light justify-content-right">
        <ul class="navbar-nav">
            <li class="nav-item">
    
                <a class="navbar-brand" href="#" id="movie-style">
                    <h2> <i class="material-icons" id="navbar-logo">local_hospital</i>  MEDICARE </h2>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li> <button type="button" class="btn btn-info btn-lg" (click)="back()"><i class="fa fa-home"
                            aria-hidden="true"></i> HOME</button></li>
                <li> &nbsp;&nbsp;</li>
                <li><button type="button" class="btn btn-info btn-lg" (click)="login()"><i class="fa fa-sign-in"
                            aria-hidden="true"></i> LOGIN</button></li>
            </ul>
        </div>
    
    </nav>

<div class="container">
    <div class="form-row">
        <div class="form-group col-lg-3 col-md-12 col-sm-12">
        </div>
        <div class="form-group col-lg-5 col-md-12 col-sm-12 border p-2">
            <h2 id="signup-status">Signup</h2>

    

            <form [formGroup]="userForm" (submit)="send(userForm)">

                <div class="form-row">
                    <div class="form-group col col-lg-12 col-md-6 col-sm-12 col-12">
                        <label for="username" id="white-status">User name</label><span id="red-status">*</span>
                        <span [style.visibility]="'hidden'">d</span>
                        <span *ngIf="!userForm.get('username').valid && userForm.get('username')?.touched"
                            id="red-status">
                            Please enter valid first name
                        </span>
                        <input type="text" placeholder="Enter User Name" class="form-control" formControlName="username"
                            id="username" name="username" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col col-lg-6 col-md-6 col-sm-12 col-12">
                        <label for="firstName" id="white-status">First name</label><span id="red-status">*</span>
                        <span [style.visibility]="'hidden'">d</span>
                        <span *ngIf="!userForm.get('firstName').valid && userForm.get('firstName')?.touched"
                            id="red-status">
                            Please enter valid first name
                        </span>
                        <input type="text" placeholder="Enter First Name" class="form-control"
                            formControlName="firstName" id="firstName" name="firstName" />
                    </div>

                    <div class="form-group col col-lg-6 col-md-6 col-sm-12 col-12">
                        <label for="lastName" id="white-status">Last name</label><span id="red-status">*</span>
                        <span [style.visibility]="'hidden'">d</span>
                        <span *ngIf="!userForm.get('lastName').valid && userForm.get('lastName')?.touched"
                            id="red-status">
                            Please enter valid last name
                        </span>
                        <input type="text" placeholder="Enter Last Name" class="form-control" formControlName="lastName"
                            id="lastName" name="lastName" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="age" id="white-status">Age</label><span id="red-status">*</span>
                        <span *ngIf="!userForm.get('age').valid && userForm.get('age')?.touched" id="red-status">
                            Please enter valid age
                        </span>
                        <input type="number" placeholder="Enter Age" class="form-control" formControlName="age" id="age"
                            name="age" min="1" max="2" />
                    </div>

                    <div class="form-group col col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="gender" id="white-status">Gender</label><span id="red-status"></span>
                        <select class="form-control placeholder" formControlName="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>

                    <div class="form-group col col-lg-4 col-md-6 col-sm-12 col-12">
                        <label for="dateOfBirth" id="white-status">DoB</label><span id="red-status"></span>
                        <span *ngIf="!userForm.get('dateOfBirth').valid && userForm.get('dateOfBirth')?.touched"
                            id="red-status">
                            Please enter valid dob
                        </span>
                        <input type="text" placeholder="Enter dateOfBirth" class="form-control"
                            formControlName="dateOfBirth" id="dateOfBirth" name="dateOfBirth" />
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col col-lg-6 col-md-6 col-sm-12 col-12">
                        <label for="contactNumber" id="white-status">Contact Number</label><span
                            id="red-status">*</span>
                        <span *ngIf="!userForm.get('contactNumber').valid && userForm.get('contactNumber')?.touched"
                            id="red-status">
                            Please enter valid contact Number
                        </span>
                        <input type="number" placeholder="Enter contactNumber" class="form-control"
                            formControlName="contactNumber" id="contactNumber" name="contactNumber" />
                    </div>

                    <div class="form-group col col-lg-6 col-md-6 col-sm-12 col-12">
                        <label for="altContactNumber" id="white-status">Alt Contact Number</label>
                        <input type="number" placeholder="Enter altContactNumber" class="form-control"
                            formControlName="altContactNumber" id="altContactNumber" name="altContactNumber" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col col-lg-6 col-md-6 col-sm-12 col-12">
                        <label for="emailId" id="white-status">Email ID</label><span id="red-status">*</span>
                        <span *ngIf="!userForm.get('emailId').valid && userForm.get('emailId')?.touched"
                            id="red-status">
                            Please enter valid emailId
                        </span>
                        <input type="text" placeholder="Enter emailId" class="form-control" formControlName="emailId"
                            id="emailId" name="emailId" />
                    </div>

                    <div class="form-group col col-lg-6 col-md-6 col-sm-12 col-12">
                        <label for="password" id="white-status">Password</label><span id="red-status">*</span>
                        <span [style.visibility]="'hidden'">d</span>
                        <span *ngIf="!userForm.get('password').valid && userForm.get('password')?.touched"
                            id="red-status">
                            Please enter valid password
                        </span>
                        <input type="password" placeholder="Enter Password" class="form-control"
                            formControlName="password" id="password" name="password" />
                    </div>
                </div>
                <div id="red-status">Mandatory(*)</div>

                <button type="submit" class="btn btn-danger">Signup</button>
            </form>
        </div>
    </div>
</div>